{% load static %}
      <footer>
        <ul class="list1">
          <p>Помощь и информация</p>
          <li class="list1Item">Помощь</li>
          <li class="list1Item">Условия доставки</li>
          <li class="list1Item">Условия возврата</li>
        </ul>
        <ul class="list2">
          <p>О проекте</p>
          <li class="list2Item">О проекте</li>
          <li class="list2Item">Сотрудничество</li>
          <li class="list2Item">Контакты и адрес</li>
          <li class="list2Item">Вакансии</li>
        </ul>
        <ul class="list3">
          <p>Больше о JoyBox</p>
          <li class="list3Item">Telegram-бот</li>
          <li class="list3Item">Мобильное приложение</li>
          <li class="list3Item">Для юр. лиц</li>
        </ul>
      </footer>